
/* <style type="text/css">
.table{
    width:100%; 
    border-collapse:collapse; 
}
.table td{ 
    padding:7px; border:#4c93f0 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
/* .table tr{
    background: #c9cbce;
}
/*  Define the background color for all the ODD background rows  */
/* .table tr:nth-child(odd){ 
    background: #f1f2f3;
}
/*  Define the background color for all the EVEN background rows  */
/* .table tr:nth-child(even){
    background: #a7aaaf;
}
</style> */
  /* */ 